<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="dish">
    <img src="{{BaseURL + dish.image}}" width="250px"/>
    <ion-card-content>
      <ion-card-title>{{ dish.name | uppercase }}</ion-card-title>
      <p>{{ dish.description }}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden]="dish || dishErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please Wait!</h4>
  </div>
  <div *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{ dishErrMess }}</h4>
  </div>

  <ion-card *ngIf="promotion">
    <img src="{{BaseURL + promotion.image}}" width="250px"/>
    <ion-card-content>
      <ion-card-title>{{ promotion.name | uppercase }}</ion-card-title>
      <p>{{ promotion.description }}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden]="promotion || promoErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please Wait!</h4>
  </div>
  <div *ngIf="promoErrMess">
    <h2>Error</h2>
    <h4>{{ promoErrMess }}</h4>
  </div>

  <ion-card *ngIf="leader">
    <img src="{{BaseURL + leader.image}}" width="250px"/>
    <ion-card-content>
      <ion-card-title>{{ leader.name | uppercase }}</ion-card-title>
      <p>{{ leader.designation }}</p>
      <p>{{ leader.description }}</p>
    </ion-card-content>
  </ion-card>
  <div [hidden]="leader || leaderErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please Wait!</h4>
  </div>
  <div *ngIf="leaderErrMess">
    <h2>Error</h2>
    <h4>{{ leaderErrMess }}</h4>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="mail" class="btn-mail"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-google" class="btn-google-plus"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-youtube" class="btn-youtube"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter" class="btn-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-facebook" class="btn-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-linkedin" class="btn-linkedin"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
