<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ contact }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h6 color="primary">Location Information</h6>
    </ion-card-header>
    <ion-card-content>
      121, Clear Water Bay Road <br>
      Clear Water Bay, Kowloon <br>
      HONG KONG <br>
      <ion-icon name="call"></ion-icon>: +852 1234 5678 <br>
      <ion-icon name="print"></ion-icon>: 852 8765 4321 <br>
      <ion-icon name="mail"></ion-icon>: confusion@food.net <br><br>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button icon-left clear small>
              <ion-icon name="call"></ion-icon>
              <div>CALL</div>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button icon-left clear smaill (click)="sendEmail()">
              <ion-icon name="mail"></ion-icon>
              <div>EMAIL</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
