<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ menu }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
<div *ngIf="dishes">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-lg-4 *ngFor="let dish of dishes">
  <ion-card (click)="dishSelected($even, dish)">
    <ion-card-content>
    <ion-img src="{{BaseURL + dish.image}}"></ion-img>
    <ion-card-title>{{ dish.name }}</ion-card-title>
    <p>{{ dish.description }}</p>
  </ion-card-content>
  </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
<div [hidden]="dishes || errMess">
  <ion-spinner></ion-spinner>
  <h4>Loading... Pleade Wait!</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{ errMess }}</h4>
</div>

</ion-content>
