<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-thumbnail>
            <ion-img src="assets/images/logo.png"></ion-img>
          </ion-thumbnail>
          <ion-list-header>Ristorante Con Fusion</ion-list-header>
          <ion-button color="primary" (click)="menuClose()" (click)="openLogin()">
            <ion-icon slot="" name="log-in"></ion-icon>
            Login
          </ion-button>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item>
            <ion-button color="primary" (click)="menuClose()" (click)="openReserve()">
              <ion-icon slot="start" name="restaurant"></ion-icon>
              Reserve Table
            </ion-button>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>