<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">Your Picture</ion-card-header>
    <ion-img src="{{image}}"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button small (click)="getPicture()">Take Picture</ion-button>
        </ion-col>
        <ion-col>
          <ion-button small (click)="getFromLibrary()">Get From Library</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" required [(ngModel)]="register.firstname" name="firstname" placeholder="First Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" required [(ngModel)]="register.lastname" name="firstname" placeholder="Last Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" required [(ngModel)]="register.username" name="username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required [(ngModel)]="register.password" name="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tel. Number</ion-label>
      <ion-input type="tel" required [(ngModel)]="register.telnum" name="telnum"  pattern="[0-9]*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required [(ngModel)]="register.email" name="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-button type="submit">Register</ion-button>
  </form>

</ion-content>
